.app-container {
  margin: 0;
  font-family: 'inter', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.route-container {
  height: 100%;
  overflow-y: scroll;
}

.header-container {
  height: 5%;
}

.footer-container {
  height: 5%;
}