 @media only screen and (min-width: 1100px) {
.app-container {
  max-width: 1600px;
  margin-left:auto;
  margin-right:auto;
  min-width: 1401px;
  font-family: 'Roboto', sans-serif;
  background-color: rgb(248, 234, 234);
}
} 

.link {
  padding: 50px;
  position: fixed;
  z-index: 100000;
}