/* General Style Rules *//* General Style Rules *//* General Style Rules *//* General Style Rules */
.app-container {
    margin: 0 200px 0 200px;
    font-family: arial;
}

/* Navigation Styles *//* Navigation Styles *//* Navigation Styles *//* Navigation Styles *//* Navigation Styles */
.grid-container {
    display: grid;
    /* why hate */  
    grid-template-columns: repeat(6 1fr);
    gap: 15px;
}

.col-full {
    grid-column: 1/6;
}

.col-1 {
    grid-column: 1;
}

.col-5 {
    grid-column: 5;
}

.col-6 {
    grid-column: 6;
}

.header {
    font-size: 3rem;
}

.navLink {
    color: lightgreen;
}

.navLink:hover {
    color: green;
}

/* Banner Styles *//* Banner Styles *//* Banner Styles *//* Banner Styles *//* Banner Styles *//* Banner Styles */
.banner-container {    
    display: grid;
    grid-template-columns: repeat(6 1fr);
}

.banner-headings{
    grid-column-start: 1;
    grid-column-end: 3;
    /*border: 4px solid indigo;*/
  }

.banner-image{
    grid-column-start: 3;
    grid-column-end: 6;
    place-self: center;
}


  /*
.col-1 {width: 16.66%;}
.col-2 {width: 33.33%;}
.col-3 {width: 50%;}
.col-4 {width: 66.66%;}
.col-5 {width: 83.33%;}
.col-6 {width: 100%;}
*/

