footer {
  background-color: #C9F0FF;
  height: auto;
}

.footer-links {
  margin: 0 20%;
  padding: 50px 0 50px 20px;
}

.footer-link {
  padding-right: 50px;
  text-decoration: none;
  color: rgb(51, 0, 0);
}

.footer-link:hover {
  color: rgb(209, 107, 107);
}