.intro {
  position: absolute;
  height: 278px;
  left: 0px;
  right: 0px;
  top: 120px;

  background-image: url(../images/placeholder.jpg);
}

.intro-statement {
  position: absolute;
  width: 411px;
  height: 278px;
  left: 304px;
  top: 0px;
}

p {
  font-family: 'Julius Sans One';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 39px;
  /* or 81% */
  margin: 0 0 35px 0;

  text-align: center;

  color: #FFFFFF;
}