/* input[type="submit"]{
    margin: 5px;
    background-color:#5ac6f2;
      font-family: Arial;
      color: black;
      font-size: large;
      border-radius: 3px;
      border-color: #06568f;
      padding: 5px;
      font-weight: bold;
      box-shadow: 5px 5px 1px 1px #06568f;
  }

form{
display: inline;
}
input[type="submit"]:hover{
    margin: 5px;
    background-color:#79cced;
    font-family: Arial;
    color: #404040;
    font-size: large;
    border-radius: 3px;
    border-color: #404040;
    padding: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 1px 1px #2b6894;
  }
input[type="submit"]:active{
margin: 5px;
background-color:white;
font-family: Arial;
color: 	#C0C0C0;
font-size: large;
border-radius: 3px;
border-color: 	#C0C0C0;
padding: 5px;
font-weight: bold;
box-shadow: 5px 5px 1px 1px grey;
} */
