.login-container {
  width: 100%;
  height: 100vh;
  background-color: #031927;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.login-form{
    display: flex;
    background-color: #2260A1;
    width: 701px;
    height: 622px;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
}

.login-label {
  font-size: 18px;
  color: #C9F0FF;
}.login-container {
  width: 100%;
  height: 100vh;
  background-color: #031927;
  padding: 50px;
  display: flex;
  justify-content: center;
}

.login-form{
    display: flex;
    background-color: #2260A1;
    width: 701px;
    height: 622px;
    flex-direction: column;
    border-radius: 25px;
    justify-content: center;
}

.login-label {
  font-size: 18px;
  color: #C9F0FF;
}