#main_video {
  background-color: rgba(232, 236, 255, 0.316);
  display: grid; 
  place-items: center; 
  padding:1rem;
}
.image {
  padding:1rem;
  aspect-ratio: 16/9;
  width: 100%;
}
.main_video-intro {
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  width:150px; 
  height:auto;
    
}

@media only screen and (min-width: 1100px){
.main_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-width: 1150px;
  
}
}

#main_description {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 52px;
  word-break: normal;
  background-color: rgba(232, 236, 255, 0.316);
}

.title {
  font-size: 2rem;
  text-align: center;
}

.text {
  color:rgb(0, 0, 0);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
  padding: 30px;
  line-height: 2.2rem;
}

#main_video {
  background-color: rgba(232, 236, 255, 0.316);
  display: grid; 
  place-items: center; 
}

/* .main_video-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(128, 255, 212);
  border: 5px solid white;
  border-top: 50px solid transparent;
  border-right: 100px solid gold;
  border-bottom: 50px solid transparent;
  border-left: 100px solid gold;
} */

.main_video-intro {
  aspect-ratio: 16/9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; 
  height:auto;
    
}

#main_image {
  display: grid;
  object-fit: cover;
  place-items: center;
  background-color: rgba(232, 245, 255, 0.748);
 
}



#main_description_2 {
  
  /* border: 1px solid black; */
  padding-top: 52px;
  word-break: none;
  background-color: rgba(232, 245, 255, 0.748);
} 