.main_section-container {
  margin: 0 20%;
  padding: 0 0 50px 0;
  height: 100vh;
  background-color: #F2FCFF;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
}

.main_section-question {
  color: #031927;
  margin: 30px 0;
  width: 100%;
  font-family: 'Julius Sans One';
  font-size: 64px;
  text-align: center;
  text-shadow: -3px -3px 5px rgb(255, 255, 255, 0.5), -1px -1px 3px rgb(255, 204, 204, 0.5), 1px 1px 3px rgba(51, 0, 0, 0.5), 3px 3px 5px rgba(51, 0, 0, 0.5);
}