nav {
    position: absolute;
    height: 120px;
    left: 302px;
    right: 300px;
    top: 0px;

    background: #F2FCFF;
}

.brand-name {
    position: absolute;
    width: 249px;
    height: 87px;
    left: 0px;
    top: 17px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 87px;

    color: #BA1200;

    text-shadow: -3px -3px 5px rgba(255, 204, 204, 0.25), -1px -1px 3px rgba(255, 204, 204, 0.25), 1px 1px 3px rgba(51, 0, 0, 0.25), 3px 3px 5px rgba(51, 0, 0, 0.32);
}

form {
    background: #F2FCFF;
    box-shadow: -1px -1px 3px rgba(255, 230, 230, 0.5), -3px -3px 5px rgba(255, 230, 230, 0.5), 3px 3px 5px rgba(51, 0, 0, 0.3), 1px 1px 3px rgba(51, 0, 0, 0.3);
    border-radius: 5px;
}

input[value="Login"] {
    position: absolute;
    width: 110px;
    height: 34px;
    left: 566px;
    top: 43px;

    border-style: none;

    background: #F2FCFF;
    box-shadow: -1px -1px 3px rgba(255, 230, 230, 0.5), -3px -3px 5px rgba(255, 230, 230, 0.5), 3px 3px 5px rgba(51, 0, 0, 0.3), 1px 1px 3px rgba(51, 0, 0, 0.3);
    border-radius: 5px;

    color: #BA1200;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

input[value="Sign up"] {
    position: absolute;
    width: 110px;
    height: 34px;
    left: 709px;
    top: 43px;

    border-style: none;

    background: #F2FCFF;
    box-shadow: -3px -3px 5px rgba(255, 230, 230, 0.5), -1px -1px 3px rgba(255, 230, 230, 0.5), 1px 1px 3px rgba(53, 0, 0, 0.3), 3px 3px 5px rgba(51, 0, 0, 0.3);
    border-radius: 5px;

    color: #BA1200;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}