/* Navigation should be fixed to the top */
/* Get Started needs to be better positioned */

/* BRAND STYLING TASKS */
    /* Do this */
    /* Do that */

.col-full{
    display:flex;
    justify-content: space-between;
}
.col-full h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    color: #cf1b1b;
    font-size: 124px;
    letter-spacing: 8px;
    cursor: pointer;
  }
  
  .col-full h1::before {
    content: "Starter";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      45deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0;
    z-index: -1;
    transition: 1s;
  }
  
  .col-full h1::after {
    content: "Starter";
    position: absolute;
    color: transparent;
    background-image: repeating-linear-gradient(
      135deg,
      transparent 0,
      transparent 2px,
      white 2px,
      white 4px
    );
    -webkit-background-clip: text;
    top: 0px;
    left: 0px;
    transition: 1s;
  }
  
  .col-full h1:hover:before {
    top: 10px;
    left: 10px;
  }
  
  .col-full h1:hover:after {
    top: -10px;
    left: -10px;
  } 

.btns-container {
    padding: 8px 16px;
    width:fit-content;
    display: flex;
    border-radius: 25px;
    justify-content: space-around;
    text-decoration: none;
    align-items: center;
}

.navLink-buttons {
    padding: 9px 4px;
    width:90px;
    font-size: 20px;
    color:rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    margin: 1px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
.SignUp {
    background-color: lightcoral;
    border-radius:0 10px 10px 0 ;
}
.Login {
    background-color: rgb(134, 217, 245);
    border-radius: 10px 0 0 10px;
}
.SignUp:hover{
    background-color: rgb(251, 211, 211);
    color: black;

}
.Login:hover{
    background-color:rgb(210, 240, 249);
    color: rgb(12, 12, 12);

}


